<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <div class="wrapper">
      <%- include('./partials/header'); %>
      <main>
        <div class="error-wrapper">
          <span class="error-status"><%= error.status %></span>
          <span class="error-message"><%= message %></span>
          <pre><%= error.stack %></pre>
        </div>
      </main>
      <%- include('./partials/footer'); %>
    </div>
  </body>
</html>
