<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <div class="wrapper">
      <%- include('./partials/header'); %>
      <main class="index">
        <div class="rights-wrapper">
          <% if (!currentUser) { %>
          <p>You're not logged in.</p>
          <% } else { %>
          <p>Welcome, <span class="strong"><%= currentUser.login %></span>!</p>
          <% } %>
          <ul class="rights">
            <% if (!currentUser) { %>
            <li class="rights-cant">
              <img src="images/alert.png" alt="Warning icon" />You can't make
              new posts.
            </li>
            <% } else { %>
            <li class="rights-can">
              <img src="images/check.png" alt="Check icon" />You can make new
              posts.
            </li>
            <%} if (!currentUser || (currentUser.status !== 'member' &&
            currentUser.status !== 'admin')) { %>
            <li class="rights-cant">
              <img src="images/alert.png" alt="Warning icon" />You can't see
              authors.
            </li>
            <% } else { %>
            <li class="rights-can">
              <img src="images/check.png" alt="Check icon" />You can see
              authors.
            </li>
            <%} if (!currentUser || (currentUser.status !== 'member' &&
            currentUser.status !== 'admin')) { %>
            <li class="rights-cant">
              <img src="images/alert.png" alt="Warning icon" />You can't see
              dates.
            </li>
            <% } else { %>
            <li class="rights-can">
              <img src="images/check.png" alt="Check icon" />You can see dates.
            </li>
            <% } if (!currentUser || currentUser.status !== 'admin') { %>
            <li class="rights-cant">
              <img src="images/alert.png" alt="Warning icon" />You can't delete
              posts.
            </li>
            <% } else { %>
            <li class="rights-can">
              <img src="images/check.png" alt="Check icon" />You can delete
              posts.
            </li>
            <%}%>
          </ul>
          <% if (!currentUser) { %>
          <p>Please create an account to be able to make new posts.</p>
          <% } else { %>
          <p>
            <a href="/upgrade"
              >Click <span class="strong accent">here</span> to upgrade your
              membership status to unlock more options!</a
            >
          </p>
          <% } %>
        </div>
        <div class="posts-wrapper">
          <div class="post-new">
            <% if (currentUser) { %>
            <a class="strong" href="/addpost">Add a new post</a>
            <%}%>
          </div>
          <% if (locals.posts) { %> <% posts.forEach((post) => { %>
          <div class="post">
            <div class="post-body"><%= post.body %></div>
            <div class="post-info">
              <div class="post-author">
                Author: <% if (locals.currentUser && (currentUser.status === 'member' || currentUser.status === 'admin'))
                { %>
                <span class="strong"><%= post.author %></span>
                <% } else { %>
                <span class="post-red strong">Hidden</span>
                <%}%>
              </div>
              <div class="post-date">
                <% if (locals.currentUser && (currentUser.status === 'member' || currentUser.status === 'admin'))
                { %>
                  <%= format(post.date, 'PPpp') %></span>
                <% } else { %>
                Date: <span class="post-red strong">Hidden</span>
                <%}%>
              </div>
            </div><% if (locals.currentUser && (currentUser.status === 'admin')) { %>
              <div class="remove-post">
                <a class="post-red" href="remove/<%=post._id%>">Remove this post</a>
              </div>
            <%}%>
          </div>
          <%})%>
        </div>
        <%}%>
      </main>
      <%- include('./partials/footer'); %>
    </div>
  </body>
</html>

